.cartContainer {
    margin-right: 2rem;
}

.cartIcon {
    cursor: pointer;
    width: 32px;
    fill: none;
    stroke: rgb(235, 235, 235);
    stroke-width: 1.5px;
}

.cartPath {
    stroke-linecap: round;
    stroke-linejoin: round;
}

.cartCountContainer {
    cursor: pointer;
    width: 21px;
    height: 21px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    position: absolute;
    top: 53%;
    right: 3.1%;
    background-color: rgb(235, 235, 235);
}

.cartCount {
    font-size: 1rem;
    color: rgb(56, 56, 56);
    font-weight: 800;
}