.navbarContainer {
    width: 100vw;
    padding: 1rem 1rem 0.5rem 1rem;
    background-color: rgb(56, 56, 56);
}

.navbar {
    padding: 0;
}

.logoImg {
    width: 11rem;
}

.itemContainer {
    justify-content: space-between;
    margin-left: 3rem;
}

.item {
    margin: 0 0.8rem 0 0.8rem;
}

.itemLink {
    color: rgb(235, 235, 235) !important;
    font-weight: 500;
}

.itemDropdownContainer {
    margin-top: 0!important;
    border: 0;
    background-color: rgb(56, 56, 56);
}

.itemDropdown {
/*     padding: 4px 16px 4px 0;
    margin-left: 16px; */
    text-decoration: no;
    background-image: linear-gradient(rgb(235, 235, 235), rgb(235, 235, 235));
    background-position: 50% 100%;
    background-repeat: no-repeat;
    background-size: 9rem 1px;
}

.itemDropdown:hover {
    background-color: rgb(77, 77, 77);
}

.itemDropdown:hover .itemDropdownLink{
    color: rgb(235, 235, 235) ;
}

.itemDropdownLink {
    color: rgb(235, 235, 235) ;
    font-weight: 400;
    padding: 10px 10px 10px 10px;
}

.itemDropdownLink:hover {
    background-color: inherit;
}