.addToCartBtnContainer {
    @include display (flex);
    @include justali (center, center);
    @include flex (col);
    &-btn {
        @include display (flex);
        @include justali (center, center);
        @include marpad (10px, 4px 7px);
        @include texts (14px, 400, rgb(241, 241, 241));
        background-color: rgb(82, 138, 201);
        border: 0px;
        border-radius: 15px;
        &:hover {
            background-color: rgb(77, 126, 182);
        }
    }
    &-svg {
        @include mar (0 2px 2px 8px);
        @include widhei (22px, auto);
        fill: rgb(241, 241, 241);
    }
}