.buysWidgetContainer {
    @include display (flex);
    @include justali (center, center);
    @include mar (0 10px 0 20px);
    &-link {
        @include display (flex);
        @include justali (center, center);
        color: rgb(100, 100, 100);
        text-decoration: none;
        &-svg{
            @include widhei (24px, 24px);
            fill: rgb(77, 77, 77);
        }
    }
}