.navbar {
    @include display (flex);
    @include justali (center, center);
    @include pad (10px 45px);
    &-mainContainer{
        @include display (flex);
        @include position (relative, 0, 0);
        @include justali (space-between, center);
        @include wid (100vw);
        &-logoContainer{
            @include pad (5px 0 0 0);
            &-link{
                &-logoImage{
                    @include widhei (140px, auto)
                }
            }
        }
        &-itemsContainer{
            &-itemList{
                @include display (flex);
                @include marpad (0, 0);
                @include list (none, none);
                &-item{
                    @include mar (0 30px);
                    cursor: pointer;
                }
            }
        }
        &-searchAndCart {
            @include display (flex);
            &-searchContainer {
                @include display (flex);
                @include flex (row);
                @include mar (0 40px 0 0);
                border: 1px solid rgb(180, 180, 180);
                border-radius: 20px;
                &:focus-within{
                    @include mar (0 38px 0 0);
                    border: 2px solid rgb(82, 138, 201);
                    .navbar-mainContainer-searchAndCart-searchContainer-searchIcon-svg {
                        fill: rgb(82, 138, 201);
                    }
                    .navbar-mainContainer-searchAndCart-searchContainer-deleteIcon {
                        display: flex
                    }
                }
                &-searchIcon {
                    @include display (flex);
                    @include justali (center, center);
                    @include pad (5px 10px 5px 8px);
                    svg {
                        @include widhei (20px, 20px);
                        fill: rgb(100, 100, 100);
                    }
                }
                &-searchBar {
                    @include wid(270px);
                    border: none;
                    border-radius: 0 20px 20px 0;
                    &:focus {
                        @include wid (235px);
                        outline: none
                    }
                }
                &-deleteIcon{
                    @include display (no);
                    @include justali (center, center);
                    @include pad (5px 8px 5px 10px);
                    cursor: pointer;
                    svg {
                        @include widhei (17px, 17px);
                        fill: rgb(189, 71, 71);
                    }
                }
            }
        }
    }
}