.ordersContainer {
    @include display (flex);
    @include justali (center, start);
    @include flex (col);
    @include marpad (0 20px 0 0, 30px);
    @include widhei (100%, auto);
    border-radius: 10px 10px 10px 10px;
    &-list {
        @include widhei (100%, auto);
        @include marpad (0, 0);
        list-style: none;
        border-radius: 10px 10px 10px 10px;
        &-item {
            @include widhei (70%, auto);
            @include marpad (0 0 10px 0, 0);
            background-color: rgb(230, 230, 230);
            border-radius: 10px 10px 10px 10px;
            &-link {
                @include display (flex);
                text-decoration: none;
                cursor: pointer;
                &-img {
                    img {
                        @include widhei (140px, 140px)
                    }
                }
                &-info {
                    @include display (flex);
                    @include flex (col);
                    @include justali (center, start);
                    @include widhei (100%, auto);
                    @include pad (0 0 0 15px);
                    &-title {
                        @include texts (18px, 400, rgb(83, 118, 139));
                        @include mar (0 0 10px 0);
                    }
                    &-total {
                        @include texts (23px, 500, rgb(54, 54, 54));
                        @include mar (0 0 10px 0);
                    }
                    &-date {
                        @include texts (12px, 400, rgb(105, 105, 105));
                        @include mar (0 0 10px 0);
                    }
                }
            }
        }
    }
}

.empty {
    @include justali (center, center);
    @include hei (80vh);
    @include flex (col);
    &-text {
        @include texts (35px, 500, rgb(59, 59, 59));
    }
}