.selectQuantity {
    @include display (flex);
    @include justali (center, center);
    @include flex (col);
    &-controls {
        &-btn {
            @include marpad (5px, 1px 7px);
            @include texts (25px, 400, rgb(82, 138, 201));
            background-color: transparent;
            border: 0px
        }
        & .disabled {
            color: rgb(175, 175, 175)
        }
        &-input {
            @include widhei (100px, auto);
            text-align: center;
            border: 2px solid rgb(82, 138, 201);
            border-radius: 10px;
            outline: none;
            cursor: default;
            &::-webkit-inner-spin-button, .productQuantity-input::-webkit-outer-spin-button{
                -webkit-appearance: none;
            }
        }
        & .disabled {
            border-color: rgb(175, 175, 175);
        }
    }
    &-stockLimitAlert {
        @include display (no);
        p {
            @include mar (0);
            @include texts (13px, 400, rgb(187, 0, 0))
        }
    }
    .activeAlert {
        @include display (flex);
        @include justali (center, center);
    }
}

