@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lexend Deca', Arial, sans-serif;
}

body {
    background-color: rgb(247, 247, 247)
}

@import '_mixins';
@import '_navegation';
@import '_cartWidget';
@import '_buysWidget';
@import '_searchBar';
@import '_navbar';
@import '_dynamicText';
@import '_itemListContainer';
@import '_itemList';
@import '_item';
@import '_itemDetail';
@import '_addToCartBtn';
@import '_productQuantity';
@import '_cartContainer';
@import '_cartList';
@import '_cartInfo';
@import '_loadingSpinner';
@import '_ordenesView';
@import '_orderView';